@import "fonts.css";
@import "variables.css";

html {
    scroll-behavior: smooth;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color-primary);
    --bs-btn-border-color: #4e99ed;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-primary);
    --bs-btn-disabled-border-color: var(--color-primary);
}


.border-primary {
    border-color: var(--color-primary);
}

.text-primary {
    color: var(--color-primary) !important;
}

.bg-primary {
    background: var(--color-primary) !important;
}

.text-gradient-primary {
    color: transparent;
    background-image: linear-gradient(#5bb9ff, #0075ca);
    background-clip: text;
}

.carousel-item {
    background-size: cover;
    height: 100vh;
}

.carousel-item .carousel-item-title, .section-title, .font-base {
    font-family: BebasNeue, serif;
}

.section-title {
    font-size: 2.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.dot {
    content:"\A";
    width:15px;
    height:15px;
    border-radius:50%;
    background: #ff8100;
    display:inline-block;
}

.btn-menu-list {
    right: 18%;
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

ul.away-list {
    color: var(--color-primary);
}

ul.away-list li {
    justify-content: end;
}

img.main-technic-image {
    width: 1155px;
    right: 23.5rem;
    top: -32rem;
}

@media screen and (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1160px;
    }
}

@media screen and (max-width: 1400px) {
    img.main-technic-image {
        right: 22.5rem;
        width: 1144px;
        top: -30.5rem;
    }
}

@media screen and (max-width: 1200px) {
    img.main-technic-image {
        right: 20.6rem;
        max-width: 912px;
        top: -26rem;
    }
}

@media screen and (max-width: 992px) {
    .btn-menu-list {
        right: 2rem;
    }

    #service .section-title {
        color: white !important;
    }

    #service .backdrop {
        background: linear-gradient(to left, rgb(0 0 0 / 0%), rgb(0 0 0));
    }

    ul.away-list {
        color: white;
    }

    ul.away-list li {
        justify-content: left;
    }

    img.main-technic-image {
        right: 15rem;
        max-width: 675px;
        top: -18.7rem;
    }
}